<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <p>&copy; <span id="currentYear"></span> {{currentYear }} | Sri Ganesh Thota</p>
      <div class="footer-icons">
        <a href="https://www.linkedin.com/in/sri-ganesh-thota12345/" target="_blank" class="a-green">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/sriganeshres" target="_blank" class="a-green">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:sriganeshthota12345@gmail.com" class="a-green">
          <i class="fas fa-envelope"></i>
        </a>
        <a href="https://twitter.com/SriGanesh2005" target="_blank" class="a-green">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
