<div class="align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic">About me.</h2>
                <p class="default-p">
                    My name is Sri Ganesh Thota, and I enjoy <span class="default-highlight">creating software out of an idea</span>.
                </p>
                <p class="default-p">
                    I am a Student and an aspiring Software Developer from India. Telugu is my native language, and I am fluent in English. 
                </p>
                <p class="default-p">
                    My journey into <span class="default-highlight">software development</span> began as a 
                    Final year student navigating the rollercoaster of 
                    <span class="default-highlight">Computer Science and Engineering</span> at IIT Jodhpur. 
                    Along the way, I discovered the thrill of turning coding challenges into victories and 
                    the strange sense of peace that comes from fixing bugs at 2 AM. 
                    Whether it's last-minute debugging or creating something meaningful with a team, 
                    I enjoy the blend of <span class="default-highlight">logic</span>, 
                    <span class="default-highlight">creativity</span>, and the occasional miracle that coding demands. 
                    When I'm not buried in code, you'll find me exploring the tech world with sarcasm, 
                    cricket, and football. 
                    Excited about what's ahead, I'm gearing up to explore the world — one line of code at a time.
                </p>

                <hr class="section-divider"/>

                <p class="default-p">
                    <span class="default-highlight">Compiler Developer</span> — LFortran  
                    <br>
                    <span class="default-sub">May 2025 - Oct 2025</span>
                    <br><br>
                    - Authored over 10 pull requests to the LFortran compiler, implementing key language features such as overloaded
                    boolean operations, implicit subroutine invocation, and constant folding to enhance performance and language
                    compliance.<br>
                    - Improved the internal representation (IR) generation and optimization pipeline by integrating vital features, including
                    volatile variables, allocatable component deallocation, and derived type pointer dereferencing — directly strengthening
                    LLVM backend code robustness.<br>
                    - Enhanced testing infrastructure by implementing integration tests for 6 advanced features such as hashmaps and 
                    nested derived types while resolving 6 internal compiler errors with accurate diagnostics and improved error handling.
                </p>
            </div>
            <div class="content">
                <div class="content-left">
                    <h2 class="default-topic">Reach out.</h2>
                    <p class="default-p">
                        Follow me on social media, check out my GitHub account for projects, or <span class="default-highlight">reach out to arrange a meeting</span>.
                        I would be happy to discuss how my <span class="default-highlight">problem-solving skills</span> can help address the challenges you are facing.
                    </p>
                    <button>
                        <a routerLink="/contact" class="a-green">
                            > Contact me
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
