<div class="accordion-left">
  <mat-accordion>
    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Languages</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p>Fluent <strong><span class="default-highlight">English</span></strong></p>
        <p>Native <strong><span class="default-highlight">Telugu</span></strong></p>
        <p>Native <strong><span class="default-highlight">Hindi</span></strong></p>
        <p>Beginner <strong><span class="default-highlight">German</span></strong></p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>University</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p>2022- 2026 - Indian Institute of Technology Jodhpur - <strong><span class="default-highlight">Computer Science and Engineering</span></strong> - Bachelor's Degree</p>
        <p>2020 - 2022 - Sri Chaitanya Junior College - 12Th/ Intermediate </p>
        <p>2020 - Paramita High School  - High School Degree</p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Techs I use</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="tech-board">
        <div class="tech-cell">
          <i class="devicon-c-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-cplusplus-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-java-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-python-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-typescript-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-javascript-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-go-original-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-rust-original colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-csharp-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-kotlin-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-nodejs-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-spring-original-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-hibernate-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-postgresql-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-mysql-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-sqlite-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-angular-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-react-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-html5-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-css3-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-tailwindcss-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-fastapi-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-googlecloud-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-linux-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-docker-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-git-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-github-original colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-vscode-plain colored"></i>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>