<div
  class="flex flex-col md:flex-row-reverse lg:justify-between bg-[#1571AF] w-[95%] max-h-screen top-[80px] mx-auto"
>
  <div>
    <pre class="hidden md:block rounded-md text-2xl p-4 ml-4 text-wrap">
      <ngx-typed-js [strings]="['Hello There!^1000']" [loop]="true" [typeSpeed]="50" [backSpeed]="50"><p class="text-4xl"><span class="typing"></span></p></ngx-typed-js>
  I'm Sri Ganesh Thota 
  I'm just a Prefinal Student navigating the rollercoaster of Computer
  Science and Engineering at IIT Jodhpur. I turn coding challenges
  into victories and find peace in the chaos of fixing errors. 
  I'm the go-to for coding miracles on short notice, believing in the 
  magic of teamwork. In my downtime, I explore the tech world with a 
  touch of sarcasm and a lot of Cricket and Football. 
  Excited for what's to come, I'm ready to explore the world with humor.
  Cheers to embracing the quirks of tech life at IIT Jodhpur!
      </pre>
  </div>
  <img
    src="../../assets/Me.jpg"
    alt="Image of Sri Ganesh Thota"
    class="rounded-full mt-16 mr-4 mb-20"
    width="400px"
    height="400px"
  />
</div>
